<div class="bg-dark text-white p-3 d-flex flex-column" style="width: 240px;">
  <h5 class="text-center mb-4 border-bottom pb-2">Scenarios</h5>
  <nav class="nav flex-column gap-2">
    <a routerLink="/day1" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-ui-checks-grid me-2"></i> Day 1 - Reactive Form
    </a>
    <a routerLink="/day2" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 2 - Placeholder
    </a>
    <a routerLink="/day3" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 3 - Reactive Form with Validations
    </a>
        <a routerLink="/day4" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 4 - Dynamic Form Arrays
    </a>
            <a routerLink="/day5" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 5 - Form array example
    </a>
    <a routerLink="/day6" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 6 - Bootstrap Styled Form
    </a>
        <a routerLink="/day7" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 7 - Material Form with error messages + validators.
    </a>
            <a routerLink="/day8" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 8 -  Form + API Integration (submit + fetch from JSON Server)
    </a>
                <a routerLink="/day9" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 9 -  CRUD Table with JSON Server
    </a>
                    <a routerLink="/day10" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 10 -  Material Table with Sorting & Pagination.
    </a>
    <a routerLink="/day11" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 11 -   Accordion Table for duplicate data handling.
    </a>
        <a routerLink="/day12" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 12 -   Export Table to Excel/PDF.
    </a>
            <a routerLink="/day13" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 13 -   Add search + filters in Material Table.
    </a>
                <a routerLink="/day14" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 14 -   Table with row selection + bulk delete.
    </a>
    <a routerLink="/day15" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 15 -   Table + API integration. CRUD operations.
    </a>
        <a routerLink="/day16" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 16 -   File upload with progress.
    </a>
            <a routerLink="/day17" routerLinkActive="active-link"
       class="nav-link text-white rounded px-3 py-2">
      <i class="bi bi-card-text me-2"></i> Day 16 -   multi File upload with progress.
    </a>
  </nav>
</div>
